<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appredo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Class Details Activity -->
        <activity android:name=".ClassDetailsActivity" />

        <!-- Assignment Details Activity -->
        <activity android:name=".AssignmentDetailsActivity" />

        <!-- Exam Details Activity -->
        <activity android:name=".ExamDetailsActivity" />

        <!-- To-Do List Activity -->
        <activity android:name=".TodoListActivity" />
    </application>

</manifest>
